#drink-container {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
#drink-container > .drink-item {
	flex: auto;
	padding-bottom: 1rem;
}
