{{ form.hidden_tag() }}

<div class='form-group'>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <select name="query_type" class="custom-select">
          <option selected>Search By</option>
          {% for field in form.query_type if field.widget.input_type != 'hidden'%}
                {{ field }}
                <span>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <b class="text-danger">{{ error }}</b>
                        {% endfor %}
                    {% endif %}
                </span>
        </div>
          {% endfor %}
        </select>
      </div>
      <input type="text" name="query" id="query" class="form-control" placeholder="Margarita" aria-label="Text input with select list">
      <div class="input-group-append">
        <button class="btn btn-primary" formaction="/results" formmethod="POST" aria-haspopup="true" aria-expanded="false">Go!</button>
      </div>
      <div class="input-group-append">
        <button class="btn btn-success" formaction="/random" formmethod="POST" aria-haspopup="true" aria-expanded="false">Surprise Me!</button>
      </div>
    </div>
</div>

