{{ form.hidden_tag() }}

<span class='form-group'>
  <span class="input-group">
    <span id="search-bar" class="input-group-prepend">
      <select id="query_type" name="query_type" class="custom-select">
        <option data-name="Test" disabled selected>Search Type</option>
        {% for field in form.query_type if field.widget.input_type != 'hidden'%}
          {% if field.data == 's' %}
            {{ field( **{'data-name': 'e.g. Margarita'} ) }}
          {% elif field.data == 'i' %}
            {{ field( **{'data-name': 'e.g. Grenadine'} ) }}
          {% else %}
            {{ field( **{'data-name': 'e.g. Y or 4'} ) }}
          {% endif %}
            <span>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </span>
        {% endfor %}
      </select>
    </span>
    <input type="text" id="query" name="query" class="form-control" placeholder="Select search type" aria-label="Text input with select list">
    <span class="input-group-append">
      <button class="btn btn-primary" formaction="/results" formmethod="POST" aria-haspopup="true" aria-expanded="false">Go!</button>
    </span>
    <span class="input-group-append">
      <button class="btn btn-success" formaction="/random" formmethod="POST" aria-haspopup="true" aria-expanded="false">Pick My Drink</button>
    </span>
  </span>
  
  
</span>

