{% extends 'base.html' %}
{% block title %}Whatcha havin{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">How About A Drink</h1>
    <p class="lead">Whether you're a veteran mixologist or you're making your first mixed drink, you've come to the right place!</p>
    <hr class="my-4">
    <p>Make a choice from the drop down menu on the left and then type your search into the search bar. Or if you're feeling adventureous, go ahead and click surprise me.</p>
</div>
{% endblock %}