{% extends 'base.html' %}
{% block title %}Whatcha havin{% endblock %}
{% block content %}
  <h1>Search</h1>
  <!-- <form action="/results">
    <input type="text" name="query" id="query">
    <button>Go!</button>
  </form> -->
  
  <form action="/results" method="POST" class="form">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <select name="query_type" class="custom-select">
          <option selected>Choose One</option>
          <option value="s">Cocktail</option>
          <option value="i">Ingredient</option>
          <option value="f">Letter</option>
        </select>
      </div>
      <input type="text" name="query" id="query" class="form-control" placeholder="What are you looking for?" aria-label="Text input with select list">
      <div class="input-group-append">
        <button class="btn btn-primary" aria-haspopup="true" aria-expanded="false">Go!</button>
      </div>
    </div>
  </form>
  
{% endblock %}